In [199]:
#import pandas library
import pandas as pd

In [201]:
#Loading data into a dataFrame
data_frame = pd.read_csv('D:/Projects/Real ML projects/Mental Health prediction/Dataset/mental_health_dataset.csv')
data_frame.head()

,age,gender,employment_status,work_environment,mental_health_history,seeks_treatment,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score,mental_health_risk
0,56,Male,Employed,On-site,Yes,Yes,6,6.2,3,28,17,54,59.7,High
1,46,Female,Student,On-site,No,Yes,10,9.0,4,30,11,85,54.9,High
2,32,Female,Employed,On-site,Yes,No,7,7.7,2,24,7,62,61.3,Medium
3,60,Non-binary,Self-employed,On-site,No,No,4,4.5,4,6,0,95,97.0,Low
4,25,Female,Self-employed,On-site,Yes,Yes,3,5.4,0,24,12,70,69.0,High

In [203]:
data_frame.shape

(10000, 14)

In [151]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     10000 non-null  int64
 1   gender                  10000 non-null  object
 2   employment_status       10000 non-null  object
 3   work_environment        10000 non-null  object
 4   mental_health_history   10000 non-null  object
 5   seeks_treatment         10000 non-null  object
 6   stress_level            10000 non-null  int64
 7   sleep_hours             10000 non-null  float64
 8   physical_activity_days  10000 non-null  int64
 9   depression_score        10000 non-null  int64
 10  anxiety_score           10000 non-null  int64
 11  social_support_score    10000 non-null  int64
 12  productivity_score      10000 non-null  float64
 13  mental_health_risk      10000 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 1.1+ MB

In [155]:
list(data_frame.columns)

['age',
 'gender',
 'employment_status',
 'work_environment',
 'mental_health_history',
 'seeks_treatment',
 'stress_level',
 'sleep_hours',
 'physical_activity_days',
 'depression_score',
 'anxiety_score',
 'social_support_score',
 'productivity_score',
 'mental_health_risk']

In [205]:
data_frame.drop(['age', 'gender', 'depression_score', 'anxiety_score', 'productivity_score','seeks_treatment'], axis=1,inplace=True)

In [207]:
list(data_frame.columns)

['employment_status',
 'work_environment',
 'mental_health_history',
 'stress_level',
 'sleep_hours',
 'physical_activity_days',
 'social_support_score',
 'mental_health_risk']

In [209]:
data_frame.head()

,employment_status,work_environment,mental_health_history,stress_level,sleep_hours,physical_activity_days,social_support_score,mental_health_risk
0,Employed,On-site,Yes,6,6.2,3,54,High
1,Student,On-site,No,10,9.0,4,85,High
2,Employed,On-site,Yes,7,7.7,2,62,Medium
3,Self-employed,On-site,No,4,4.5,4,95,Low
4,Self-employed,On-site,Yes,3,5.4,0,70,High

In [211]:
data_frame.describe()

,stress_level,sleep_hours,physical_activity_days,social_support_score
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.572000,6.473000,3.505700,50.117700
std,2.887741,1.473944,2.282737,29.229278
min,1.000000,3.000000,0.000000,0.000000
25%,3.000000,5.500000,2.000000,25.000000
50%,6.000000,6.500000,4.000000,50.000000
75%,8.000000,7.500000,5.000000,76.000000
max,10.000000,10.000000,7.000000,100.000000

In [213]:
data_frame.describe(include='object')

,employment_status,work_environment,mental_health_history,mental_health_risk
count,10000,10000,10000,10000
unique,4,3,2,3
top,Employed,On-site,No,Medium
freq,5868,5044,6969,5892

In [215]:
data_frame['mental_health_risk'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

In [217]:
from sklearn.preprocessing import OrdinalEncoder

# Initialize encoder with explicit order
enc = OrdinalEncoder(categories=[['low', 'medium', 'high']])

# Encode and create new column
data_frame['mental_health_risk_encoded'] = enc.fit_transform(
    data_frame[['mental_health_risk']].apply(lambda s: s.str.strip().str.lower())
).astype(int)

# Remove the original column
data_frame.drop('mental_health_risk', axis=1, inplace=True)
#low=0, medium=1, high=2

In [219]:
data_frame.head()

,employment_status,work_environment,mental_health_history,stress_level,sleep_hours,physical_activity_days,social_support_score,mental_health_risk_encoded
0,Employed,On-site,Yes,6,6.2,3,54,2
1,Student,On-site,No,10,9.0,4,85,2
2,Employed,On-site,Yes,7,7.7,2,62,1
3,Self-employed,On-site,No,4,4.5,4,95,0
4,Self-employed,On-site,Yes,3,5.4,0,70,2

In [221]:
data_frame['mental_health_history'].unique()

array(['Yes', 'No'], dtype=object)

In [223]:
from sklearn.preprocessing import OrdinalEncoder

# Initialize encoder with correct order so yes=1, no=0
enc = OrdinalEncoder(categories=[['no', 'yes']])

# Encode and create new column
data_frame['mental_health_history_encoded'] = enc.fit_transform(
    data_frame[['mental_health_history']].apply(lambda s: s.str.strip().str.lower())
).astype(int)

# Remove the original column
data_frame.drop('mental_health_history', axis=1, inplace=True)
#yes =1, no=0

In [225]:
data_frame.head()

,employment_status,work_environment,stress_level,sleep_hours,physical_activity_days,social_support_score,mental_health_risk_encoded,mental_health_history_encoded
0,Employed,On-site,6,6.2,3,54,2,1
1,Student,On-site,10,9.0,4,85,2,0
2,Employed,On-site,7,7.7,2,62,1,1
3,Self-employed,On-site,4,4.5,4,95,0,0
4,Self-employed,On-site,3,5.4,0,70,2,1

In [227]:
data_frame['work_environment'].unique()

array(['On-site', 'Remote', 'Hybrid'], dtype=object)

In [231]:
from sklearn.preprocessing import OrdinalEncoder

# Encode the 'work_environment' column (On-site=0, Hybrid=1, Remote=2)
enc = OrdinalEncoder(categories=[['On-site', 'Hybrid', 'Remote']])

data_frame['work_environment_encoded'] = enc.fit_transform(
    data_frame[['work_environment']].apply(lambda s: s.str.strip())
).astype(int)
data_frame.drop('work_environment', axis=1, inplace=True)
#On-site=0, Hybrid=1, Remote=2

# Show all columns
data_frame.head()

,employment_status,stress_level,sleep_hours,physical_activity_days,social_support_score,mental_health_risk_encoded,mental_health_history_encoded,work_environment_encoded
0,Employed,6,6.2,3,54,2,1,0
1,Student,10,9.0,4,85,2,0,0
2,Employed,7,7.7,2,62,1,1,0
3,Self-employed,4,4.5,4,95,0,0,0
4,Self-employed,3,5.4,0,70,2,1,0

In [235]:
data_frame['work_environment_encoded'].unique()

array([0, 2, 1])

In [237]:
data_frame['employment_status'].unique()

array(['Employed', 'Student', 'Self-employed', 'Unemployed'], dtype=object)

In [239]:
from sklearn.preprocessing import OrdinalEncoder

# Encode the 'employment_status' column (Unemployed=0,Student=1, Self-employed=2, Employed=3  )
enc = OrdinalEncoder(categories=[['Unemployed', 'Student', 'Self-employed', 'Employed']])

data_frame['employment_status_encoded'] = enc.fit_transform(
    data_frame[['employment_status']].apply(lambda s: s.str.strip())
).astype(int)
data_frame.drop('employment_status', axis=1, inplace=True)
#Unemployed=0,Student=1, Self-employed=2, Employed=3

# Show all columns
data_frame.head()

,stress_level,sleep_hours,physical_activity_days,social_support_score,mental_health_risk_encoded,mental_health_history_encoded,work_environment_encoded,employment_status_encoded
0,6,6.2,3,54,2,1,0,3
1,10,9.0,4,85,2,0,0,1
2,7,7.7,2,62,1,1,0,3
3,4,4.5,4,95,0,0,0,2
4,3,5.4,0,70,2,1,0,2

In [241]:
data_frame['employment_status_encoded'].unique()

array([3, 1, 2, 0])

In [243]:
#finding the outliers
def find_outliers_IQR(data_frame):
  q1=data_frame.quantile(0.25)
  q3=data_frame.quantile(0.75)
  IQR=q3-q1
  outliers = data_frame[((data_frame<(q1-1.5*IQR))|(data_frame>(q3+1.5*IQR)))]
  return outliers

In [245]:
outliers = find_outliers_IQR(data_frame['stress_level'])
print("number of outliers: "+ str(len(outliers)))
outliers

number of outliers: 0

Series([], Name: stress_level, dtype: int64)

In [247]:
outliers = find_outliers_IQR(data_frame['sleep_hours'])
print("number of outliers: "+ str(len(outliers)))
outliers

number of outliers: 0

Series([], Name: sleep_hours, dtype: float64)

In [249]:
outliers = find_outliers_IQR(data_frame['physical_activity_days'])
print("number of outliers: "+ str(len(outliers)))
outliers

number of outliers: 0

Series([], Name: physical_activity_days, dtype: int64)

In [251]:
outliers = find_outliers_IQR(data_frame['social_support_score'])
print("number of outliers: "+ str(len(outliers)))
outliers

number of outliers: 0

Series([], Name: social_support_score, dtype: int64)

In [253]:
data_frame.isnull()

,stress_level,sleep_hours,physical_activity_days,social_support_score,mental_health_risk_encoded,mental_health_history_encoded,work_environment_encoded,employment_status_encoded
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False

In [255]:
#saving the prepared dataset
data_frame.to_csv('D:/Projects/Real ML projects/Mental Health prediction/Cleaned Dataset/Prepared_Mental_Health.csv', index=False)